<footer class="footer bg-dark text-light py-3 mt-5">
  <div class="footer-container text-center">
    <p>© 2025 Gabriel Valdivia Norambuena. Todos los derechos reservados.</p>
    <p>Desarrollador Full Stack | Data Science y Machine Learning</p>
    <p>
      📧 <a href="mailto:g.valdivia1436@hotmail.com" class="text-light">g.valdivia1436@hotmail.com</a> |
      🌍 Puente Alto, Chile
    </p>
    <p>
      💼 <a href="https://www.linkedin.com/in/gabrielfdev" target="_blank" class="text-light">LinkedIn</a> |
      💻 <a href="https://github.com/GabrielValdiviaGaboloso" target="_blank" class="text-light">GitHub</a>
    </p>
  </div>
</footer>