<div class="container text-center notfound-wrapper">
  <img class="notfound-img" src="assets/img/notFound/404.png" alt="404" />
  
  <div class="notfound-text">
    <span class="title">¡No eres tú, soy yo!</span>
    <div class="subtitle">
      <span>Oooh! Lo sentimos, el contenido que buscabas ya no está disponible ... :(</span><br />
      <span>No perdamos el contacto…</span>
    </div>
    <button class="btn btn-outline-danger mt-3" (click)="init()">Vuelve al Inicio</button>
  </div>
</div>
